h1{
    font-size: 50px;
    margin-bottom: 5px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

    background-color: rgb(235, 228, 228);
}

img{
    display: inline-block;
    border-radius: 20px;
    width: auto;
    height: 350px;
    
    margin-bottom: 35px;
}
.both{
    display: inline-block;
    float: left;
    margin-top: 215px;
    margin-right: 35px;
    margin-left: 170px;
    margin-bottom: 35px;
}
.container{
    text-align: justify;
    width: 1000px;
    margin: auto;
}
.date{
    text-align: center;
    font-size: 25px;
    margin-bottom: 19px ;
    font-weight: bold;
}
.head{
    font-size: 40px;
    margin-top: 25px;
    font-weight: bolder;
}
.details{
    font-size: 20px;
    margin: 10px 0px;
    
}